@font-face {
  font-family: "Neucha-Regular";
  src: url("Neucha-Regular.ttf");
}

* {
  background-color: #f4f4f4;
  font-family: Neucha-Regular;
  font-size: 14;
  color: black;
}

button:hover {
  transition: all 0.3s ease 0s;
  background-color: firebrick;
  color: white;
  cursor: pointer;
}

/* Register & Login Page CSS */
.container-register,
.container-login {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-content: center;
  letter-spacing: 1px;
  font-family: Neucha-Regular;
  line-height: 20px;
  text-align: center;
  font-size: 14;
  font-weight: 600;
}

.container-form > .form,
h1,
p,
.form-group,
.form-group > label {
  background-color: antiquewhite;
}

button {
  font-family: Neucha-Regular;
  font-size: 14;
  font-weight: 800;
}

.container-form {
  margin: 10px;
  background-color: antiquewhite;
  border: 1px solid #cccccc;
  padding: 5px;
  box-shadow:10px 10px 20px grey;
}

/* Register & Login Page CSS Ends */

/* HEADER STARTS */

.navigation-container{
  text-align: left;
}

.navLink{
  color:red;
  text-decoration: none;
}

/* HEADER STARTS */

/* POST MODAL */
.postModal{
  padding-top: 20px;
  text-align: center;

  margin-inline-end: 20rem;
  margin-inline-start: 20rem;
}

.postModal > button {
  padding: 20px 30px;
}

textarea{
  height: 10rem;
  width: 25rem;
}

#addToggle{
  border: 1px solid blue;
  border-radius: 5ch;
  background-color: #f5c899;
}

/* POST MODAL ENDS */

/* POST */

.container-mostouter {
  background-color: #f4f4f4;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:10; /* number of lines to show */
  -webkit-box-orient: vertical;
  width: 70%;
  height: 70%;
  font-size: 1em;
  justify-self: center;
  align-self: center;
  margin: auto;
}

.container-post {
  border: solid black;
  border-radius: 10px;
  background-color: antiquewhite;
}

.container-post > .container-outer > .container-inner > .postpar > a {
  background-color: antiquewhite;
  text-decoration: underline;
  color: black;
}

.container-post > .container-outer > .container-inner > .postpar {
  padding-left: 5px;
  padding-right: 5px;
}

.container-mostouter .text {
  visibility:hidden;
  opacity: 0;
  transition: opacity 1s;
  }
  
  .container-mostouter:hover .text {
   background-color: aqua!important;
    position: relative;
  visibility:visible;
  opacity: 1;
  text-align: center;
  top: 60px;
  margin:auto;
  }

  .container-mostouter:hover ~ h1 + p {
    filter: blur(5px);
  }

/* POST ENDS */

.NotFound {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

.fzf {
  border: 5px ridge black;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}

.addToggle{
  display:none;
}